/********************
GENERAL
********************/

@font-face {
	font-family: 'bebas_neue_regularregular';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_regular-webfont.eot');
	src: url('../fonts/bebasneue_regular-webfont_B38582A2.eot') format('embedded-opentype'),
	url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
	url('../fonts/bebasneue_regular-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebook';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_book-webfont.eot');
	src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_book-webfont.woff') format('woff'),
	url('../fonts/bebasneue_book-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'bebas_neuebold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/bebasneue_bold-webfont.eot');
	src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
	url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrroman';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
	src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'helveticaneuecyrlight';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/helveticaneuecyr-light-webfont.eot');
	src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
	url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
}

html {
	overflow-x: hidden;
}

p,
h3,
li,
span {
	margin: 0;
	line-height: 1;
	cursor: default;
}

h3 {
	font-weight: 400;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

.shadow {
	box-shadow: inset 0 0 10px 4px rgba(45,53,88,1);
}

section,
header,
footer {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

body {
  padding-right: 0 !important;
}

.order h2{
	text-align: center;
}



/********************
NAVBAR
********************/

.navbar {
  background: #cad9de;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  border-bottom: 2px solid #dbfffc;
  position: relative;
  top: 0;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 10px;
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav a {
  color: #2d3558;
  font-family: 'helveticaneuecyrroman';
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

.navbar-nav>li>a {
  padding: 5px 6px 5px 6px;
  transition: all 0.2s ease-in-out;
  margin-right: 2px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
}

.navbar .active {
	color: #fff !important;
  background-color: transparent!important;
  border: 2px solid #fff!important;
  border-radius: 40px!important;
}

.sticky  {
  width: 100%;
}

.navbar-toggle .icon-bar {
  background: #fff;
  height: 3px;
  width: 25px;
}


/********************
HEADER
********************/

.header {
	position: relative;
	background-color: #d9eaef;
	border-bottom: 3px solid #cad9de;
}

.logo-header {
	position: absolute;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 1010;
}

.descript {
	margin-top: 25px;
	margin-bottom: 25px;
	max-width: 320px;
	font-family: 'bebas_neuebold';
	font-size: 30px;
	line-height: .8;
	text-align: right;
	color: #48a1fe;
}

.descript span {
	display: block;
	font-family: 'bebas_neuebook';
	text-align: right;
	color: #2d3558;
}

.header-tel {
	margin-top: 20px;
	font-family: 'bebas_neuebold';
	font-size: 61px;
	line-height: 1;
	text-align: right;
	color: #2d3558;
}

@media (max-width: 992px) {

	.descript {
		max-width: 260px;
		font-size: 24px;
	}

	.header-tel {
		font-size: 46px;
	}
}

@media (max-width: 768px) {
	.logo-header {
		position: relative;
	}

	.descript {
		max-width: none;
		font-size: 36px;
		text-align: center;
	}

	.descript span {
		text-align: center;
	}

	.header-tel {
		margin-bottom: 10px;
		text-align: center;
	}
}



/********************
SEC-1
********************/

.sec-1 {
	background: url(../img/plumber.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.sec-1 .overlay {
	background-color: rgba(222,240,245,.8);
}

.sec-1-header-block-top {
	position: relative;
	display: block;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.sec-1-header-top {
	background-color: #343b62;
	font-family: 'bebas_neuebold';
	font-size: 48px;
	text-align: center;
	padding: 20px;
	color: #fff;
	margin-top: 43px;
	position: relative;
}

.sec-1-header-top:after {
	position: absolute;
	content: '';
	top: 0;
	right: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 44px 11px 0 0px;
	border-color: #343c63 transparent transparent transparent;
}

.sec-1-header-top:before {
	position: absolute;
	content: '';
	top: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 44px 0px 0 11px;
	border-color: #343c63 transparent transparent transparent;
}

.sec-1-header-block-top:before {
	position: absolute;
	content: '';
	bottom: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 44px 11px;
	border-color: transparent transparent #343c63 transparent;
}

.sec-1-header-block-top:after {
	position: absolute;
	content: '';
	bottom: 0;
	right: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 44px 0px;
	border-color: transparent transparent #343c63 transparent;
}

.sec-1-header-block-bot {
	position: relative;
	display: block;
}

.sec-1-header-bot {
	background-color: #2d3557;
	font-family: 'bebas_neuebook';
	font-size: 60px;
	text-align: center;
	padding: 15px 30px;
	color: #fff;
	position: relative;
}

.sec-1-header-bot:after {
	position: absolute;
	content: '';
	top: 0;
	right: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 44px 11px 0 0px;
	border-color: #2e3658 transparent transparent transparent;
}

.sec-1-header-bot:before {
	position: absolute;
	content: '';
	top: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 44px 0px 0 11px;
	border-color: #2e3658 transparent transparent transparent;
}

.sec-1-header-block-bot:before {
	position: absolute;
	content: '';
	bottom: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0px 44px 11px;
	border-color: transparent transparent #2e3658 transparent;
}

.sec-1-header-block-bot:after {
	position: absolute;
	content: '';
	bottom: 0;
	right: -11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 11px 44px 0px;
	border-color: transparent transparent #2e3658 transparent;
}

.sec-1-header-bot span {
	font-family: 'bebas_neuebold';
}

.rotenberg-img {
	margin: 16px auto 82px;
}

.rotenberg-info {
	background-color: rgba(45,53,88,.9);
	color: #d35975;
	font-size: 24px;
	font-family: 'helveticaneuecyrroman';
	line-height: 1.2;
	text-align: center;
	padding: 22px;
	position: absolute;
	bottom: 0px;
}

.rotenberg-info span {
	font-family: 'helveticaneuecyrbold';
	text-decoration: underline;
}

.sec-1-right-top {
	text-align: right;
	margin-top: 26px;
}

.sec-1-right-top>.left {
	font-family: 'bebas_neuebook';
	color: #2d3558;
	font-size: 41px;
	width: 80%;
	float: left;
}

.sec-1-right-top>.left span {
	font-family: 'bebas_neuebold';
}

.sec-1-right-top>.right {
	font-family: 'bebas_neuebook';
	font-size: 37px;
	color: #4c9dfa;
	width: 20%;
	float: left;
	line-height: .8;
}

.sec-1-right-top>.right span {
	font-family: 'bebas_neuebold';
	font-size: 103px;
	line-height: .9;
}

.sec-1-right-list {
	margin-top: 29px;
}

.question-mark {
	border-radius: 50%;
	color: #fff;
	padding: 1px 6px;
	background-color: rgba(45,53,88,.9);
}

.tooltip  {
	width: 100%;
	font-size: 14px;
}

.tooltip.right .tooltip-arrow {
	border-right-color:rgba(45,53,88,.9);
}

.tooltip-inner {
	background-color: rgba(45,53,88,.9);
}

.sec-1-right-list li {
	font-family: 'helveticaneuecyrbold';
	font-size: 18px;
	color: #2d3558;
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 12px;
}

.sec-1-right-list li:after {
	position: absolute;
	content: url(../img/sec-1-right-list-line.png);
	left: 0;
	right: 0;
	bottom: 0;
}

.sec-1-right-list li:last-child:after {
	content: '';
}

.sec-1-btn {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	display: block;
	width: 100%;
	max-width: 380px;
	font-family: 'bebas_neuebook';
	text-align: left;
	color: #dcfffd;
	background-color: #48a0fd;
	border: none;
	border-bottom: 2px solid #2c6ebe;
	border-radius: 15px;
}

.sec-1-btn .icon {
	margin-right: 16px;
	margin-left: 20px;
	padding-top: 18px;
	padding-right: 15px;
	float: left;
	min-height: 83px;
	font-size: 45px;
	color: #2c6ebd;
	border-right: 1px solid #2c6ebd;
	transition: all .2s ease-in-out;
}

.button-txt {
	position: relative;
	top: 11px;
	font-size: 35px;
	line-height: .9;
	cursor: pointer;
}

.button-txt span {
	font-family: 'bebas_neuebold';
}

.svg-line {
	margin-top: 0;
	margin-bottom: 25px;
}

.sec-1-svg-line {
	fill: none;
	stroke: #333857;
	stroke-miterlimit: 10;
	stroke-width: 4;
}

.call-us {
	margin-bottom: 47px;
	width: 100%;
	font-family: 'helveticaneuecyrroman';
	font-size: 16px;
	text-align: right;
	color: #2d3558;
}

.call-us span {
	padding: 5px;
	font-family: 'helveticaneuecyrbold';
	color: #fff;
	background-color: #2d3557;
}

@media (max-width: 992px) {

	.button-txt {
		top: 22px;
		font-size: 24px;
	}

	.sec-1-right-top>.left {
		width: 70%;
		margin-right: 15px;
	}

	.sec-1-btn {
		margin-bottom: 15px;
	}

	.rotenberg-info {
		bottom: -35px;
		border-radius: 5px;
	}

}

@media (max-width: 768px) {

	.rotenberg-img {
		margin-bottom: 15px;
		margin-top: 25px;
	}
	.rotenberg-info {
		position: relative;
		bottom: 0;
	}
}



/********************
SEC-2
********************/

.sec-2 {
	padding-bottom: 28px;
	background-color: #dbfffc;
}

.sec-2-header {
	margin-top: 34px;
	margin-bottom: 24px;
	font-family: 'bebas_neue_regularregular';
	font-size: 68px;
	line-height: 1;
	text-align: center;
	color: #2d3558;
}

.sec-2-header span {
	font-family: 'bebas_neuebold';
}

.sec-2 .icon {
	position: relative;
	top: 50%;
	margin-right: 10px;
	padding: 26px 0;
	float: left;
	width: 70px;
	font-size: 36px;
	text-align: center;
	color: #333857;
	background-color: #a5ddfb;
	transition: all ease-in .3s;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.sec-2-txt-block {
	margin-right: auto;
	margin-bottom: 18px;
	margin-left: auto;
	max-width: 300px;
	height: 90px;
	cursor: default;
	background-color: #bcecfb;
}

.sec-2-txt {
	position: relative;
	top: 50%;
	float: left;
	font-family: 'helveticaneuecyrbold';
	font-size: 22px;
	color: #2d3558;
	transition: all ease-in .3s;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.sec-2-txt span {
	text-decoration: underline;
}

@media (max-width: 992px) {
	.sec-2-txt {
		font-size: 16px;
	}

	.sec-2 .icon {
		width: 60px;
		height: 100%;
		font-size: 28px;
	}
}

@media (max-width: 768px) {
	.sec-1-citation {
		max-width: none;
	}

	.sec-1-citation-txt {
		margin-right: auto;
		margin-left: auto;
		float: none;
	}

	.sec-1-know-more {
		margin-right: auto;
		margin-left: auto;
		display: block;
		float: none;
		max-width: 331px;
		text-align: right;
	}

	.sec-1-txt-right-top {
		margin-top: 30px;
	}

	.sec-1-btn {
		margin-bottom: 20px;
	}

	.oleg-foto {
		margin-right: auto;
		margin-left: auto;
	}

	.sec-2-header {
		font-size: 50px;
	}
}



/********************
SEC-3
********************/

.sec-3 {
	background: url(../img/plumber.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.sec-3 .overlay {
	background-color: rgba(255,255,255,.8);
}

.oleg-foto {
	margin-top: 37px;
	transition: all linear .1s;
}

img.grayscale {
	transition: all linear .1s;

	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	        filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale'); /* Firefox 10+, Firefox on Android */
	        -webkit-filter: gray;
	                filter: gray; /* IE6-9 */
}

.sec-3-quote {
	margin-top: 57px;
	margin-right: 10px;
	float: left;
}

.sec-3-txt {
	margin-bottom: 40px;
	font-family: 'helveticaneuecyrroman';
	font-size: 23px;
	line-height: 1.3;
	color: #2d3558;
}

.sec-3-txt:first-of-type {
	margin-top: 53px;
}

.sec-3-txt:last-of-type {
	font-family: 'helveticaneuecyrbold';
	color: #4a9ffc;
}

.sec-3-txt span {
	text-decoration: underline;
}

.sec-3-header {
	margin-bottom: 40px;
	font-family: 'bebas_neuebook';
	font-size: 67px;
	line-height: 1;
	text-align: center;
	color: #2d3558;
}

.sec-3-header span {
	font-family: 'bebas_neuebold';
}

.sec-3-advantages-block {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	width: 100%;
	max-width: 685px;
	font-family: 'helveticaneuecyrroman';
	font-size: 18px;
	line-height: 1.2;
	color: #2d3558;
}

.sec-3-advantages-block:last-child {
	margin-bottom: 49px;
}

.sec-3-advantages-block:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	content: url(../img/sec-block-line.png);
}

.sec-3-advantages-left-txt {
	margin-right: 19px;
	float: left;
	width: 100%;
	max-width: 315px;
	text-align: right;
}

.sec-3-advantages-right-txt {
	float: left;
	width: 100%;
	max-width: 350px;
}

.sec-3-advantages-right-txt > span {
	font-family: 'helveticaneuecyrbold';
	color: #4a9ffc;
}

@media (max-width: 992px) {
	.sec-3-txt {
		margin-bottom: 25px;
		font-size: 18px;
	}

	.sec-3-txt:first-of-type {
		margin-top: 48px;
	}
}

@media (max-width: 768px) {
	.sec-3-txt:first-of-type {
		margin-top: 18px;
	}

	.sec-3-quote {
		margin-top: 10px;
	}

	.sec-3-txt:last-of-type,
	.sec-3-txt:nth-of-type(2) {
		text-align: center;
	}

	.sec-3-advantages-left-txt {
		width: 42%;
		max-width: none;
	}

	.sec-3-advantages-right-txt {
		width: 54%;
		max-width: none;
	}
}

@media (max-width: 577px) {
	.sec-3-advantages-block:after {
		content: '';
	}
	.sec-3-advantages-block {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid;
	}

	.sec-3-advantages-block:last-child {
		border-bottom: none;
	}

	.sec-3-advantages-right-txt {
		width: 45%;
	}

	.sec-3-header {
		font-size: 56px;
	}
}



/********************
SEC-4
********************/

.sec-4 {
	background-color: #d9fffb;
}

.sec-4-header {
	margin-top: 44px;
	margin-bottom: 40px;
	font-family: 'bebas_neuebook';
	font-size: 84px;
	text-align: center;
	color: #2d3558;
}

.sec-4-header span:first-of-type {
	font-family: 'bebas_neuebold';
	font-size: 67px;
}

.sec-4-header span:last-of-type {
	font-family: 'bebas_neuebold';
	font-size: 84px;
}

.sec-4-list {
	margin-left: 128px;
}

.sec-4-list li {
	margin-bottom: 35px;
	font-family: 'helveticaneuecyrroman';
	font-size: 18px;
	line-height: 1;
	color: #2d3558;
	transition: all linear .2s;
}

.sec-4-list .icon {
	margin-right: 47px;
	float: left;
	width: 52px;
	font-size: 40px;
	transition: all linear .2s;
}

.icon_san-05 {
	margin-left: 7px;
}

.sec-4-list li span {
	font-family: 'helveticaneuecyrbold';
}

.garanty-block {
	margin-bottom: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'bebas_neuebook';
	font-size: 35px;
	text-align: center;
	color: #4a9ffc;
	border: 4px solid #4aa0fc;
}

.garanty-block span {
	font-family: 'bebas_neuebold';
}

@media (max-width: 768px) {
	.sec-4-header {
		font-size: 70px;
	}

	.sec-4-list {
		margin-left: 0;
	}

	.sec-4-list {
		text-align: center;
	}

	.sec-4-list .icon {
		margin-right: 0;
		margin-right: auto;
		margin-bottom: 10px;
		margin-left: auto;
		display: block;
		float: none;
	}
}



/********************
SEC-5
********************/

.sec-5-header-block {
	background-color: #2c6dbd;
}

.sec-5-header-block .icon {
	margin-right: 19px;
	margin-left: 12px;
	padding: 35px 15px;
	float: left;
	font-size: 28px;
	color: #fff;
	background-color: #4a9ffc;
}

.sec-5-header {
	margin-top: 35px;
	font-family: 'bebas_neuebook';
	font-size: 33px;
	color: #fff;
}

.sec-5-header span:first-child {
	text-decoration: underline;
}

.sec-5-header span:last-child {
	font-family: 'bebas_neuebold';
}

.section-feedback-left {
	min-height: 510px;
	background-color: #d9fffb;
}

.clients {
	margin-top: 50px;
	margin-right: 21px;
	text-align: right;
}

.clients a {
	font-family: 'bebas_neuebook';
	font-size: 34px;
	line-height: 38px;
	text-decoration: none;
	color: #3a4354;
}

.clients .active a {
	position: relative;
	left: 31px;
	padding-right: 8px;
	padding-left: 10px;
	background-color: #4aa0fc;
}

.clients .active a::after {
	position: absolute;
	z-index: 65;
	top: 0;
	right: -10px;
	width: 0;
	height: 0;
	content: '';
	border-width: 18px 0 18px 10px;
	border-style: solid;
	border-color: transparent transparent transparent #4aa0fc;
}

.clients .active a {
	color: #fff;
}

.section-feedback-right {
	padding-left: 45px;
}

.section-feedback-right .client-img {
	margin-top: 21px;
	margin-right: 19px;
	float: left;
	max-width: 100px;
	height: auto;
	border-radius: 50%;
}

.client-name {
	margin-top: 35px;
	float: left;
	font-family: 'bebas_neuebook';
	font-size: 39px;
	font-weight: 400;
	line-height: 34px;
	color: #2d3558;
}

.client-name span {
	font-family: 'bebas_neuebold';
}

.client-txt {
	margin-top: 21px;
	margin-left: 17px;
	max-width: 417px;
	font-family: 'helveticaneuecyrlight';
	font-size: 18px;
	line-height: 26px;
	color: #2d3558;
}

@media (max-width: 992px) {
	.section-feedback-left {
		min-height: 578px;
	}

	.client-name {
		font-size: 34px;
	}
}



/********************
SEC-6
********************/

.sec-6 {
	text-align: center;
	background: url(../img/plumber.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.sec-6 .overlay {
	background-color: rgba(255,255,255,.8);
}

.sec-6-header {
	margin-top: 42px;
	font-family: 'bebas_neuebook';
	font-size: 52px;
	color: #2d3558;
}

.sec-6-header span {
	font-family: 'bebas_neuebold';
}

.sec-6 .col-md-6:nth-of-type(2) {
	position: relative;
}

.sec-6 .col-md-6:nth-of-type(2):after {
	position: absolute;
	top: 33px;
	right: 0;
	bottom: 0;
	content: url(../img/sec-6-vert-line.png);
}

.sec-6 .icon {
	margin-top: 60px;
	margin-bottom: 22px;
	display: block;
	font-size: 36px;
	color: #4a9ffc;
}

.sec-6-txt {
	margin-bottom: 52px;
	font-family: 'helveticaneuecyrroman';
	font-size: 18px;
	line-height: 1.4;
	color: #43556d;
}

.sec-6-txt > .color {
	font-family: 'helveticaneuecyrbold';
	color: #4a9ffc;
}

.sec-6-txt > .bold {
	font-family: 'helveticaneuecyrbold';
}

.sec-6-cta-txt {
	margin-bottom: 63px;
	padding-top: 10px;
	padding-bottom: 8px;
	font-family: 'bebas_neuebook';
	font-size: 35px;
	color: #4a9ffc;
	border: 4px solid #4a9ffc;
}

.sec-6-cta-txt span:first-child {
	font-family: 'bebas_neuebold';
	text-decoration: underline;
}

.sec-6-cta-txt span {
	font-family: 'bebas_neuebold';
}

@media (max-width: 768px) {
	.sec-6 .col-md-6:nth-of-type(2):after {
		top: 50%;
		right: 0;
		bottom: auto;
		left: 0;
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
}



/********************
FOOTER
********************/

.footer {
	background-color: #2c6dbd;
}

.footer-tel {
	margin-top: 10px;
	margin-bottom: 0;
	font-family: 'bebas_neuebook';
	font-size: 31px;
	color: #fff;
}

.circle {
	position: absolute;
	z-index: -1;
	top: -13px;
	right: 0;
	left: -5px;
	margin-right: auto;
	margin-left: auto;
	width: 72px;
	height: 72px;
	background-color: #2c6dbd;
	border-radius: 50%;
}

.elas {
	position: relative;
	z-index: 1;
	top: -20px;
	margin-right: auto;
	margin-left: auto;
	width: 94px;
}

.logo-svg {
	transition: all ease-in .5s;

	clip-rule: evenodd;
	fill: #fff;
	fill-rule: evenodd;
}

.logo-svg:hover {
	fill: #d9fffb;
}

@media (max-width: 992px) {
	.footer-tel {
		text-align: center;
	}
}

/********************
MODAL
********************/

@media (min-width: 768px) {
	.modal-dialog {
		width: 480px;
	}
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-backdrop {
	background-color: transparent;
	background-image: url(../img/bg-blue.jpg);
	background-size: cover;
}

.modal-dialog {
	padding-top: 10%;
}

.modal-header {
	background-color: #dbfffc;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.modal-title {
	font-family: 'bebas_neuebold';
	font-size: 30px;
	text-align: center;
	color: #2d3558;
}

.modal-body {
	padding: 20px;
	background-color: #bcecfb;
}

.form-group {
	position: relative;
}

.form-control {
	height: 46px;
	font-size: 16px;
	border-color: #e5e5e5;
	border-radius: 0;
}

.form-modal-btn {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 50%;
	font-family: 'bebas_neuebold';
	font-size: 32px;
	color: #dcfffd;
	background-color: #48a0fd;
	border: none;
}

.modal-dialog .glyphicon {
	position: absolute;
	right: 0;
	width: 30px;
	width: 48px;
	font-size: 18px;
	line-height: 48px;
	line-height: 44px;
	text-align: center;
	color: #555;
	border-left: 1px solid #ccc;
}

.close {
	position: relative;
	margin-top: 10px;
	margin-right: 30px;
	font-size: 18px;
	color: #fff;
	opacity: .9;
	text-shadow: none;
}

.close .glyphicon {
	position: absolute;
	right: -22px;
	font-size: 18px;
}
